<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13247/step/2>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/4485a063-5965-47c2-b4c7-dd1123a204a2/5518_1080_263682d92f42341ef4017ad5504da5b3.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/a5c5bd1d-a510-41f9-98b8-cf5ba34ad919/5518_720_f6a99fec04572201a8253b30cd173864.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/2ba0db7d-3c2e-4ed2-9594-1bc949748639/5518_360_d10573cecaf5e5c96c8080d02d94c35c.mp4","res":"360"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>