<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13236/step/6>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/df8a1a0f-c004-4646-8441-32e55bc68e91/5619_1080_7998f84e0afdcbc5154891603f46ffa7.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/0f820f66-5d6c-45fa-9346-8b818e17bac5/5619_720_c2a9a658c4c7700d99ff4f46d446334e.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/e391167d-37fb-4f7f-afdb-3fdf8d69ae0f/5619_360_d510c7486409ed342864d40819bcbc11.mp4","res":"360"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>