<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13236/step/4>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/92e41582-abfe-4fc1-9e56-728e64154f6a/5618_1080_14307c3a225fcd59ef88d64cdf17acb6.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/5c0963f5-ea68-4ddb-a834-2b4221d1d695/5618_720_719c0112d17e1686de2c78945c20762e.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/91b4aa4a-e2b8-45d2-835a-1a96c0b11496/5618_360_d0093abcd7b143cd13e2d653aed83d8a.mp4","res":"360"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>