<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13245/step/2>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/6b895223-8a1e-442a-884e-7ec70d3be04b/5786_1080_a62595d7f98ba3cf7c4a723dc5d391ed.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/3c66f990-abe3-436f-a7c9-686eb619c626/5786_720_2623bcefcd15648d67c6dc018c588753.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/0a9e6384-3611-4756-8fcc-fb2aac8e09e4/5786_360_1de8f978b606a0be11967d5d94337a93.mp4","res":"360"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>