<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13255/step/1>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/8af9abaa-e9c7-4c80-b16e-f1255616b938/5869_1080_296360b7d8eb4abed4ac8ae83d27a771.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/b0031bca-82f6-4e3c-904d-dd10db6976c4/5869_720_6d1a15579e3db067a6e3292a61e19436.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/03adc746-55c9-48e0-b957-83b629087d65/5869_360_f3c6b630a9d0a97c911b83dea31248ae.mp4","res":"360"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>