<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13236/step/2>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/9d0f1f9f-4591-49fe-9ec8-359a460b5619/5616_1080_14363db33f8808d73804452e4db307a9.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/f89c04c3-732d-4d3a-bb5c-f46cedbb85ce/5616_720_ef25cb62a7d767bb655496b5a247afb0.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/edcc2025-c258-4de9-b042-f0382b8ba97a/5616_360_4f8758b170ed8e31e316a1da66238de4.mp4","res":"360"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>