<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13265/step/3>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/49c8a635-2819-463e-8efc-3bb9332eb5be/6129_1080_ca83587fa50db55bd2d2fa4217ca65fa.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/d99ae95d-57d0-48ad-b039-516600ccf4ba/6129_720_d365e6b3680435547c92fd412f625d81.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/f73eeeea-c8d8-4798-b17c-1a500d59d529/6129_360_920bfeb60b93f00eb938a4d0748d417d.mp4","res":"360"},{"type":"video/mp4","label":"270p","src":"https://ucarecdn.com/b27e30ff-2d7f-4eab-9bb9-8e633dc639c8/6129_270_c249b5103cf8b60438dfdf214492a518.mp4","res":"270"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>