<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13248/step/3>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/e704f84d-5dd7-4fe6-bd1f-19bc536a0e7a/5526_1080_72cb1046ee55f86d33f09457287b40ab.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/af207b38-bb71-4a2d-a2f0-0848b4193f9d/5526_720_dd6d36a656353d6d60bffd3113565271.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/add669af-a430-4c5a-bbbf-b8f155dee499/5526_360_50cd163b4d354e10842396a60e15d46b.mp4","res":"360"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>