<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13265/step/2>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/794b1c40-84ea-46ad-848b-d30f101ef61f/6128_1080_545d90d91f30bf31e6aa76230c17691f.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/cac0506f-0de9-4d10-90ad-805fea156e1b/6128_720_05424e1c9a75f43b19acb1bf3e1a2c55.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/3f022c25-6bf5-4419-892c-6efa3cdf152b/6128_360_1fc188c5c256a447a4e053231dde075e.mp4","res":"360"},{"type":"video/mp4","label":"270p","src":"https://ucarecdn.com/485be706-e01d-49cc-a3f7-db6812243387/6128_270_849fe6d96d22ad66840e70b951727104.mp4","res":"270"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>