<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13238/step/3>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/563c89ac-063e-43d6-ac73-843d6a9c30d3/5082_1080_2a4bd512a6a27745f58436a4b9c1de3a.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/4cfc6374-e75d-45dd-b2c4-96183174339c/5082_720_1e30ee162a805c2935633a162ae18afc.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/3819d554-21bf-467b-92e6-8bcb5688ef11/5082_360_59fe60595515ab8d680920f039d708f7.mp4","res":"360"},{"type":"video/mp4","label":"270p","src":"https://ucarecdn.com/4455b593-f14d-44db-a404-9c99d941bdb1/5082_270_7ba64cbf18a466a5d286adeea62f4132.mp4","res":"270"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>