<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13230/step/5>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/26bc292a-56fd-4d3f-8d73-825ad3e0bc81/4986_1080_e430881a09f27b894d3ba5c4589796cc.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/7fad7ac9-ef59-4288-815b-5605800099b3/4986_720_788830561b529519de5f781ef2e36ca5.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/2bb0454c-f8c7-4f43-9583-b4986028de09/4986_360_c2debd74118fa88bc9ac805d73e0303f.mp4","res":"360"},{"type":"video/mp4","label":"270p","src":"https://ucarecdn.com/cba2c474-d961-4fd6-a5f0-80d4ce4a82b5/4986_270_a9eab9569d20cfcf17e79374feda0f29.mp4","res":"270"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>