<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13245/step/1>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/d7cc7136-06ec-4820-bcb5-61d48367844d/5764_1080_529a32276c52396e7326d290f0b658db.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/b5c85964-b4d2-4ae5-b982-da43a879be64/5764_720_eb2596ae887dab616188d84066c4343d.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/12d18aa2-9d7a-43c0-92ee-ef78d2338c81/5764_360_a1886bfc55950173db2b2e8ecd5d2a3d.mp4","res":"360"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>