<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13242/step/3>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/79f7a58e-3df5-4621-9293-185d9b866ba9/5756_1080_dd92ea2abbde73155c37fb22b3151300.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/0940a1fc-1ed5-4fb4-a5d0-4f9898b5c19f/5756_720_b419147c950011f63b8bbc49b8b56679.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/2bb20814-2388-4001-8ee4-d4d7311c16f2/5756_360_a68f21a89cc647bf321aa018ccd0f49a.mp4","res":"360"},{"type":"video/mp4","label":"270p","src":"https://ucarecdn.com/94c54e11-e569-4bf2-abdc-6c7bd123b9c8/5756_270_8265e15d7eecec5b1e53784de8d559c7.mp4","res":"270"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>