<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/16969/step/3>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/808b6ede-4752-433b-a50c-c9e18c1b841c/5858_1080_d722e1662a296d023d428b2ecf576dc8.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/27b1c634-ef76-4042-9d55-6c9df08e6bdd/5858_720_f4fb123162a25729c86a54fc5c030bf0.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/fc037130-054c-4c31-99c8-15621947e734/5858_360_e7ac139418352aea3d91d79009a8fc69.mp4","res":"360"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>