<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13239/step/4>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/abbcd8f9-2dc8-4397-9bc2-7d1540d4e96a/5087_1080_8be90a9a39a6277ab28ba12eb97f1c55.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/1df0d0d1-15a9-40b4-b5f3-bcaaa15d04cb/5087_720_12ac859a4ac2b6980b58f3277e61ca69.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/b7afaff0-28f8-4062-809e-01ff72c701b9/5087_360_d01ea9ea12d74cfe573c542190332dfc.mp4","res":"360"},{"type":"video/mp4","label":"270p","src":"https://ucarecdn.com/90c2a7c3-d260-43cc-915f-00cce2c13a2e/5087_270_50d56839b8e72c7a8d5dc283a3a6e049.mp4","res":"270"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>