<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13257/step/3>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/c9c63805-3e71-4f95-b059-1e50b089b6e4/5542_1080_378c78d3a5c91839a848f2b8688f0a16.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/e6cd8aae-cc44-4d67-9746-643c78317d6b/5542_720_56f1c7aa60bdabefbcce5d078ef7afe0.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/f0a988b2-9dbb-467c-ae6c-24b6df685bd3/5542_360_a6b30bd9e14c6d89aa2f2ea7ead1a650.mp4","res":"360"},{"type":"video/mp4","label":"270p","src":"https://ucarecdn.com/b4249018-09f0-4bcd-817c-ddab7b479e7e/5542_270_b4ddb06ccfa45642a269d2a34f7b96b2.mp4","res":"270"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>