<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/17691/step/6>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/f7533eb9-d878-44d9-9552-9de6520693df/5865_1080_330ce634b183154c81a15cff30ab1d43.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/da36d182-5bcc-4183-841b-a8dace506f68/5865_720_a95f6bbe056854f8ee0c5fb08df22949.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/2c778712-dff2-43db-9fd9-bd6c665b5833/5865_360_c4d60bc6f17e80bc8d7e86a8c4f2dbf1.mp4","res":"360"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>