<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13228/step/4>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/8b7b1cd5-f7fd-463e-827d-ad19d5f759cd/4978_1080_4981a06ae495f55fefef42a69df3cd4f.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/0ded05ce-1384-4c7f-aa8b-235b5ef356fa/4978_720_9e4435eaa22c034396d32097c9f429a5.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/3e1b9132-14f8-4018-b64d-e15436f30d31/4978_360_e78eff3ec2cd9408fcad6582e554e512.mp4","res":"360"},{"type":"video/mp4","label":"270p","src":"https://ucarecdn.com/5bf9f8ef-5d40-4ba8-978f-3a6993e37178/4978_270_3c64194031db622b5e38037466e13b73.mp4","res":"270"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>