<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13258/step/2>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/0bf13c0f-03e7-438f-9220-aaa0dd0a630a/5544_1080_a3fa5de15e6ad0e477eccbc2a74d82e4.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/74ba89fb-1d33-409a-9fbd-82927b946589/5544_720_1ac672027977fc4be8cbe86e8d80f558.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/84aa1858-b272-4234-bba6-d02897be04fe/5544_360_0fbf31ba730f3a1140a70121eba1b12d.mp4","res":"360"},{"type":"video/mp4","label":"270p","src":"https://ucarecdn.com/55e5cc0e-7346-414b-95a7-06cd39f23b46/5544_270_05ce02f21e5e50e5ebdeebd2cab42ebb.mp4","res":"270"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>