<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13237/step/5>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/6058d6bd-2268-44bb-987e-4dc9376a7e73/5622_1080_94231638d5e0d7ba5265c1ec61e9a849.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/0589758c-83e1-4506-9975-d4c62b762131/5622_720_52259613afd8218c11614a367456fb18.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/b1785aa8-50a5-4e77-a2f0-dee2b62d91ef/5622_360_31e7df54c6584edcfa442981dc41337f.mp4","res":"360"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>