<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13242/step/2>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/73c79fb1-7230-4067-8573-bb00fc3413a2/5755_1080_e54d708bfd7c18a492afe78a128b5752.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/8340243a-a5e7-44b6-97a5-f535d418f36a/5755_720_c8562eac307f3d18d9b951ac28badfb3.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/05fbfa8d-1e38-46df-8388-891c35e1f6fc/5755_360_a39a76be0efbe4c9f51f075aa737c5b8.mp4","res":"360"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>