<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/15831/step/4>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/32ef8db3-132e-4f45-a454-76b15304ebce/5607_1080_6b3319ec0dc69b79a2b384bb53f8797f.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/0c94ee84-152f-42e8-b4a5-71297a8683ec/5607_720_019061e801715df9f24171b48de6b537.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/3257751d-dd86-41c0-8b32-69cbe5364f1a/5607_360_90b7d6d0444126ca422fe2d27fdcd31b.mp4","res":"360"},{"type":"video/mp4","label":"270p","src":"https://ucarecdn.com/34a1f2cb-b38d-4d11-9d87-5bc5f02bc644/5607_270_4478ac0986f482f08dc70bf1ec75fecf.mp4","res":"270"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>