<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13235/step/1>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/7266ab7d-9c41-4f86-ab67-d2a7f5c8b11c/5615_1080_99aa3d926f064fc2363c69bf32211dc5.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/c8880140-0c27-4f3e-b9a3-78f616c68776/5615_720_68f386a43ffe740938003865677ce27f.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/37f7b6eb-6f0b-490d-aa80-5a856a28391e/5615_360_9906bf684a225ebb278836011d7ea6a1.mp4","res":"360"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>