<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13236/step/3>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/b93a4e90-51ef-40db-a258-7720b9198674/5617_1080_1a5deb7a422f3abe7de016efa32a2a8d.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/89012846-00f4-4109-a8b7-965c058679cd/5617_720_3ce11ecc441d64b008b16e1cbf7f59e8.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/844ad22f-fc45-4063-bb81-bb03f780c90e/5617_360_640ed38c744f2ab4db348224fbf26cb4.mp4","res":"360"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>