<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13233/step/4>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/b656aa6f-4057-4956-aa3a-e858f3f29425/5055_1080_d7bf14f06e39000426f39fcca0c4a629.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/284dff64-e917-4488-ade2-00ee1fb0de6c/5055_720_53add23e2add8c0a04f135590ba83ba2.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/9bfdcf5c-1566-4cd0-8372-1e96eead5eff/5055_360_cf1f06c3300fe3c30a7cd0983aa357d6.mp4","res":"360"},{"type":"video/mp4","label":"270p","src":"https://ucarecdn.com/c2f667f6-9403-49b7-af66-5ed065ba4369/5055_270_ca8d17e01fe4bcda8012aece92893409.mp4","res":"270"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>