<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/16970/step/6>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/b854c73b-bafe-47b7-8413-fdfcc46d7720/6136_1080_cea048b980aa2a4fe64baefda9253a3c.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/13d6da71-ec53-496e-9f21-54527a37a8d9/6136_720_a4852efbf8522573bcd4e35c56098b10.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/fe615a82-a6c7-421d-a9d3-dd174b0517f8/6136_360_e8d691ed87d2123d05a44cfb7b0d2994.mp4","res":"360"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>