<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13703/step/2>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/10cfd67c-98ec-4fd9-8a92-f55b2da0fbdd/5530_1080_de92cffb7b1a573a3f502a99bd9fa91f.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/775e6354-b2e4-43d6-9e84-22add34f827e/5530_720_b22f6d3a4a3ddd705606c11c81951da2.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/fe91c902-c795-4f06-b986-7606ba8533bd/5530_360_90c97835e1db5de672fcb027767c54c7.mp4","res":"360"},{"type":"video/mp4","label":"270p","src":"https://ucarecdn.com/d403b4f0-77a9-41b5-a23a-ebf6a58fb1f9/5530_270_9a7275ee8440fc2198047910684317ec.mp4","res":"270"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>