<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13230/step/3>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/5f107f20-9274-41af-9f26-b611c53347c9/4984_1080_5dfefb5c66b646af0a03ac40198b0eb9.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/7ea3b973-bef9-4a58-9129-89bbb5d7a7ea/4984_720_39569f81ef2e7edcca0e332ff8e5869d.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/22adb705-a451-4873-b1b8-cac3ddf0ed0c/4984_360_94f6c9b0fc83349669b30a4548a9962f.mp4","res":"360"},{"type":"video/mp4","label":"270p","src":"https://ucarecdn.com/b236b490-500c-4acf-811f-68abc8192be0/4984_270_81f3891b0b61d06938b1acf789a8ab61.mp4","res":"270"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>