<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13230/step/2>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/cf631342-ff22-4ee7-8c49-df1d2cc6c50e/4983_1080_1781d939141f7a52ebb3aefa1b51de8f.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/992e33b2-07f7-4fe2-b098-343aab8d2f05/4983_720_cafbccef2ca9fddda8cf46225bb925b1.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/6251dba1-1833-4c67-93ee-cf2f6822048b/4983_360_f056ff92ed2f17bf8d1eb7cda9ec71a9.mp4","res":"360"},{"type":"video/mp4","label":"270p","src":"https://ucarecdn.com/97240500-097f-4c75-bb8b-71b19d510be1/4983_270_e5196cf30f85b561094de221b15512fa.mp4","res":"270"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>