<div class="container">
  <div class="video-cell">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-nofull" data-setup='{"fluid": true}'>
      <p class="vjs-no-js">
        View this video on <a href=https://stepik.org/lesson/13234/step/5>Stepik</a>.
      </p>
    </video>
  </div>
</div>
<script>
  videojs('video', {
            controls: true,
            playbackRates: [0.75, 1, 1.25, 1.5, 1.75, 2],
            sources: [{"type":"video/mp4","label":"1080p","src":"https://ucarecdn.com/e935d102-6ee7-4102-8378-04a11ee18892/5104_1080_3701584852c3ebdb63d55985a898057e.mp4","res":"1080"},{"type":"video/mp4","label":"720p","src":"https://ucarecdn.com/2739b934-202d-46c7-bf34-00c9bf4aca01/5104_720_39e818731b8199c4e8c568bce8439247.mp4","res":"720"},{"type":"video/mp4","label":"360p","src":"https://ucarecdn.com/2cb712a1-c218-4dca-9c84-6878417a1b47/5104_360_66d0470cdeefdd739d7ed6b51d6a79f4.mp4","res":"360"},{"type":"video/mp4","label":"270p","src":"https://ucarecdn.com/69a04652-ed24-45f1-a858-cdbe6c9301c4/5104_270_66caa1ff71ca05c6a9a2e02752216c8a.mp4","res":"270"}],
            controlBar: {
              volumePanel: {inline: false}
            },
            plugins: {
              videoJsResolutionSwitcher: {
                dynamicLabel: false
              }
            },
          }
      , function () {
        var player = this;
        window.player = player;
        var currentTime = 0
            player.on('loadeddata', function () {
              player.currentTime(currentTime);
            })
      }
  )
</script>